body {
  background: rgb(255, 253, 80);
  background: linear-gradient(
    90deg,
    rgba(255, 253, 80, 0.4) 5%,
    rgba(194, 53, 96, 0.4) 41%,
    rgba(0, 212, 255, 0.4) 100%
  );
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#lengths {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 3em;
}

.icon {
  font-size: 3em;
  cursor: pointer;
  color: #0d0daf;
}

.icon-sm {
  font-size: 2.5em;
  cursor: pointer;
  color: #0d0daf;
}

#session-length,
#break-length {
  font-size: 1.1em;
}

#session-label,
#break-label {
  margin: 0.5em;
  color: black;
}

#timer-label {
  font-size: 1.25em;
  color: #0d0daf;
}

#badge {
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #00a11b;
  color: #f5f9fc;
  padding: 0.3em 0.75em;
  border-radius: 0.3em;
  font-size: 1em;
  text-decoration: none;
  box-shadow: 3px 3px 3px black;
}

#badge div {
  opacity: 0.7;
  transition-property: opacity, transform;
  transition: opacity 120ms, transform 120ms;
  transition-timing-function: ease-out;
}

#badge:hover div {
  transform: scale(1.07);
  opacity: 1;
}
@media only screen and (max-width: 850px) {
  #badge {
    display:none;
  }
}